/*
Change font of site to Avenir:
https://stackoverflow.com/questions/29274501/r-markdown-changing-font-size-and-font-type-in-html-output
*/
/* Whole document: */
body{
  font-family: Avenir;
}
/* Headers */
h1,h2,h3,h4,h5,h6{
  font-family: Avenir;
}



